#todo-list li .edit {
  display: inline;
}
html,body{
	padding: 0;
	margin: 0;
	font-family: 'Gotham SSm A', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #white;
	color:#000;

	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow-x: hidden;
}

::-moz-selection { color: #555;background: pink;}
::selection      { color: #555;background: pink; } 

#editor {
	width: auto !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.editor{
	margin-left:183px;
	padding: 11px 30px;
	background: #f1f1f1;
}

input {
	font-family: 'Gotham SSm A', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.grid-row {
    width: inherit;

	.grid-item {
		border: solid #f1f1f1 1px;
		height: 100%;
		display: inline-block;
		float: left;
		box-sizing: border-box;

		&.highlight {
			border: solid pink 1px;
		}

		&:hover {
			border: solid #e1e1e1 1px;
			cursor: crosshair;
		}
	}
}
