

form.formSelection {
	label{
		display:block;
		width:50%;
		float:left;
		padding:10px 0;
	}
	input{display:block;width:50%; float:left;}
	.modal-tools{
		padding-top:20px;
		float:left; width:100%; text-align: center;
	}
	&.image{
		.el_title,.el_description{display:none;}
	}
	&.text{
		.el_img{display:none;}
	}

	&.categories{
		.el_description{display:none;}
	}

}

