.modal{
	display:inline;
	.modal-dialog{
		-webkit-transform: translateZ(0);
		position: fixed;
		display:none;
		opacity: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 20;
		background-color: #000;
		width: 100%;
		height: 100%;
	}

	.modal-content{
		display:none;
		position:fixed;		
		width:920px;
		top:150px;
		left:50%;
		margin-left:-480px;
		opacity:0;
		background: #fff;
		z-index: 21;
		padding:60px 20px;
		h2{
			font-weight: normal;
			font-size:18px;
			line-height: 24px;
			margin-bottom: 2em;
			text-align: center;
		}

		input {
			display: block;
			margin: auto;
			line-height: 26px;
			border: #aaa 1px solid;
			text-align: center;

			&:focus{
				outline:0;
				border-color: black;
			}
		}
	}
}


.modalSelection{
	text-align: center;

	a{
		display:inline-block;
		margin-right:30px;
		text-decoration: none;
		text-align: center;
		color:#000;
		border: 2px transparent solid;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;

		img{display:block;}
		span{
			display:block;
			padding:10px 0;
		}

	&:hover {
		border: 2px solid pink;
	}
	}
}